<%- include("partials/header.ejs") %>

<div class="container d-flex justify-content-center align-items-center vh-100">
<form action="/new" method="post" class="p-4 w-100 w-md-75 border rounded bg-light">
  <div class="mb-3">
  <label for="title" class="form-label">Title:</label>
  <input type="text" class="form-control form-title" name="title" required>
  <label for="author" class="form-label">Author:</label>
  <input type="text" class="form-control form-title" name="author" required>
</div>
<div class="mb-3">
  <label for="content" class="form-label">Review:</label>
  <textarea class="form-control form-content" name="review" rows="8" required></textarea>

  <div class="ratings-wrapper">
    <div class="ratings">
       <span data-rating="5">★</span>
       <span data-rating="4">★</span>
       <span data-rating="3">★</span>
       <span data-rating="2">★</span>
       <span data-rating="1">★</span>
    </div>
 </div>

 <input type="hidden" name="ratings" id="ratingInput" value="">

 <div class="text-center">
  <button type="submit" class="card-btn btn"> Submit </button>
  </div>
</div>
</form>
 

</div>

</div>

