:root {
    --body-fonts: "Josefin Sans", sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF5;
    font-family: var(--body-fonts);
}

.header-img {
    display: block;
    margin: 0 auto;
    width: 700px;
    padding-top: 25px;
}

@media screen and (max-width: 700px) {
    .header-img {
        width: 400px;
    }
}

.top-line {
    margin-top: 2em;
    margin-bottom: 1em;
}

.bottom-line {
   margin-top: 2em; 
}

h3 {
    padding-top: 15px;
    text-align: center;
    color:#333333;
}


@media screen and (max-width: 700px) {
    .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }


/* Cards */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .card {
        width: 350px;
    }
}


/* Back Button */
.back-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: #F18949;
    border: none;
    background-color: #FFFDF5;
    
}
.link-back-btn {
    text-decoration: none;
    color: #F18949;
}

.back-btn:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.arrow-img {
    padding-right: 8px;
}

@media screen and (max-width: 700px) {
    .back-btn {
        position: relative;
        left: -150px;
        font-size: 12px;
        padding-bottom: 30px;
    }
    
}

/* Add Form */
.add-form {
    position: relative;
    margin-top: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.add-button {
  background: #F18949;
  border: 1px solid #F18949;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.add-button:hover,
.add-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #F18949;
}

.add-button:active {
  opacity: .5;
}

@media screen and (max-width: 700px){
 .vh-100 {
        height: 85vh !important;
    }
}


/* Page */ 
.main-container {
    position: absolute; 
    margin-top: 3em;  
}

.cover-img {
    height: 100%;
}

.form-title {
    width: 100% !important;  /* Makes it take up the full width of the form */
    max-width: 600px !important; /* Adjust as needed */
}

.form-content {
    height: 200px;
    margin-bottom: 2em;
}


/* Add/Edit Button */
a {
    text-decoration: none; 
}

/* Star rating */
.ratings-wrapper {
    display: inline-block; 
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.ratings span {
    cursor: pointer;
    transition: color .2s;
    font-size: 1.75em;
    padding: 5px;
}

.ratings span:hover {
    transform: scale(1.2);
    color: orange;
}

.ratings span:hover ~ span{
    color: orange;
 }

.ratings span[data-clicked]{
    color: orange;
 }

.ratings span[data-clicked] ~ span{
    color: orange;
 }

 .fa-star {
    color: #333333;
 }

 .checked {
    color: gold;
 }

 @media screen and (max-width: 700px) {
    .ratings-wrapper {
        margin-bottom: 15px;
    }
 }

 /* Footer */ 
 footer {
    position: relative;
    padding: 10px;
    width: 100%;
    bottom: 0;
    background-color: #F18949;
    color: #fff;
 }






